# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environment variables
.env

# Django migrations
*/migrations/*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db